.movieRow {
  padding-left: 3%;
  margin: 50px 0px 50px;
}

.movieCardList {
  display: flex;
  flex-wrap: nowrap;

  align-items: center;
  z-index: 0;
  transition: transform 0.5s ease;
}
.rowTitle {
  color: white;
}

.translateButton {
  height: 10vw;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.322);
  z-index: 5;
  color: rgba(255, 255, 255, 0.253);
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  font-weight: bold;
  width: 4vw;
}

.translateButton:hover {
  background-color: rgba(0, 0, 0, 0.842);
  color: rgb(255, 255, 255);
}

.right {
  right: 0;
}
