.movieRow {
  padding-left: 3%;
  margin: 50px 0px 50px;
}

.movieCardList {
  display: flex;
  flex-wrap: nowrap;

  align-items: center;
  z-index: 0;
  transition: transform 0.5s ease;
}
.rowTitle {
  color: white;
}

.translateButton {
  height: 10vw;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.062);
  z-index: 5;
  color: white;
}

.right {
  right: 0;
}
